[v-cloak] {
  display: none;
}

body{
	font-family: sans-serif;
}

.weather-widget{
	border: 1px solid #eee;
	width: 350px;
	height: 400px;
	overflow-y: scroll;

	.controls{ 
		padding: 5%;
		margin: 0;
		display: block;
		.control{
			border: none;
			margin: 0;
			margin-right: 10px;
			padding: 0;
			display: inline-block;
			width: 40%;
			position: relative;

			input{
				width: 100%;
				padding: 5%;
				box-sizing: border-box;
			}

			.input-icon{
				position: absolute;
				top: 5px;
				right: 5px;

			}
		}
	}

	.daily-list{
		border-top: 1px solid #eee;
		padding: 20px;
		list-style: none;

		.weather-item{
			border: 1px solid #dedede;
			padding: 10px 15px;
			margin-bottom: 5px;
			border-radius: 2px;

			.temp-date:after{
				content: " - "
			}

			.temp-celsius{
				display: inline;
				font-weight: bold;
			}
		}

		&.grid-layout{
			.weather-item{
				display: inline-block;
				height: 80px;
				width: 37%;
				margin: 1%;
			}

			.temp-date{
				font-size: .8em;
				color: #c3c3c3;
				&:after{
					content: ""
				}
			}


			.temp-celsius{
				display: block;
				font-size: 1.5em;
				color: darkslateblue;
			}

			.temp-unit{
				vertical-align: super;
				font-size: .7em;
				color: #ff9800;
			}
		}
	}


}

.invalid-query{
	padding: 20px;
	color: crimson;
	border: 1px solid crimson;
	margin: 0 20px 20px 20px;
	text-align: center;
}

.loading{
	padding: 20px;
	color: blue;
	border: 1px solid blue;
	margin: 0 20px 20px 20px;
	text-align: center;	
}